name: CD3 Project automation

on:
  issues:
    types: [opened, edited, labeled, unlabeled, assigned, unassigned]

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.4.0
        with:
          project-url: https://github.com/orgs/dipeshorg/projects/1/views/1
          github-token: ${{ secrets.PROJECT_AUTOMATION_TOKEN }}
